.emoji-section {

}

.emoji-section__title {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    color: var(--placeholder-gray);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 13px;
    line-height: 15px;
    box-shadow: #FFF 0 2px 2px 0;
}

.emoji-section__items {
    display: flex;
    flex-wrap: wrap;
}

.emoji-section__item {
    width: 26px;
    height: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s;
}

.emoji-section__item:hover,
.emoji-section__item.focused {
    background-color: #F0F2F5;
    border-radius: 3px;
}

.emoji-section__item:active {
    transform: translateY(1px);
}


